<h1 id="overview">Overview</h1>
<p><code>ekdosis</code> is a LuaLaTeX package designed for multilingual
critical editions. It can be used to typeset texts and different layers
of critical notes in any direction accepted by LuaTeX. Texts can be
arranged in running paragraphs or on facing pages, in any number of
columns which in turn can be synchronized or not. In addition to printed
texts, <code>ekdosis</code> can convert <code>.tex</code> source files
so as to produce <code>TEI xml</code>-compliant critical editions.
Database-driven encoding under LaTeX then allows extraction of texts
entered segment by segment according to various criteria: main edited
text, variant readings, translations or annotated borrowings between
texts. It is published under the terms of the GNU General Public License
(GPL) version 3.</p>
<h1 id="license-and-disclamer">License and Disclamer</h1>
<p>ekdosis – Typesetting TEI xml-Compliant Critical Editions</p>
<p>Copyright ⓒ 2020–2022 Robert Alessi</p>
<p>Please send error reports and suggestions for improvements to Robert
Alessi:</p>
<ul>
<li><p>email: <a href="mailto:alessi@robertalessi.net"
class="email">alessi@robertalessi.net</a></p></li>
<li><p>website: <a href="http://www.ekdosis.org"
class="uri">http://www.ekdosis.org</a></p></li>
<li><p>comments, feature requests, bug reports: <a
href="http://www.ekdosis.org/issues"
class="uri">http://www.ekdosis.org/issues</a></p></li>
<li><p>mailing list, support: <a
href="http://www.ekdosis.org/mailman/listinfo/ekdosis"
class="uri">http://www.ekdosis.org/mailman/listinfo/ekdosis</a> [<a
href="http://www.ekdosis.org/pipermail/ekdosis/">mailing list
archives</a>]</p></li>
</ul>
<p>This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.</p>
<p>This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
Public License for more details.</p>
<p>You should have received a copy of the GNU General Public License
along with this program. If not, see <a
href="http://www.gnu.org/licenses/"
class="uri">http://www.gnu.org/licenses/</a>.</p>
<p>This release of ekdosis consists of the following source files:</p>
<ul>
<li><p><code>ekdosis.dtx</code></p></li>
<li><p><code>ekdosis.ins</code></p></li>
<li><p><code>ekdosis.el</code></p></li>
<li><p><code>Makefile</code></p></li>
</ul>
<h2 id="license-applicable-to-the-documentation">License Applicable to
the Documentation</h2>
<p>Copyright ⓒ 2020–2022 Robert Alessi</p>
<p>The documentation file <code>ekdosis.pdf</code> that is generated
from the <code>ekdosis.dtx</code> source file is licensed under the GNU
Free Documentation License, as follows:—</p>
<p>Permission is granted to copy, distribute and/or modify this document
under the terms of the GNU Free Documentation License, Version 1.3 or
any later version published by the Free Software Foundation; with no
Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. A
copy of the license is included in the section entitled “GNU Free
Documentation License”.</p>
<h1 id="installation">Installation</h1>
<ol type="1">
<li><p>Run <code>'latex ekdosis.ins'</code> to produce the
<code>ekdosis.sty</code> and <code>ekdosis.lua</code> files.</p></li>
<li><p>To finish the installation you have to move the
<code>ekdosis.sty</code> and <code>ekdosis.lua</code> files into a
directory where LaTeX can find them. See the FAQ on
<code>texfaq.org</code> at <a href="https://texfaq.org/FAQ-inst-wlcf"
class="uri">https://texfaq.org/FAQ-inst-wlcf</a> for more on
this.</p></li>
</ol>
<h1 id="development-git-repository">Development, Git Repository</h1>
<h2 id="browse-the-code">Browse the Code</h2>
<p>You can browse ekdosis repository on the web: <a
href="http://git.robertalessi.net/ekdosis"
class="uri">http://git.robertalessi.net/ekdosis</a></p>
<p>From this page, you can download all the releases of
<code>ekdosis</code>. For instructions on how to install
<code>ekdosis</code>, please see above.</p>
<h2 id="comments-feature-requests-bug-reports">Comments, Feature
Requests, Bug Reports</h2>
<p><a href="http://www.ekdosis.org/issues"
class="uri">http://www.ekdosis.org/issues</a></p>
<h2 id="download-the-repository">Download the Repository</h2>
<p><code>ekdosis</code> development is facilitated by git, a distributed
version control system. You will need to install git (most GNU/Linux
distributions package it in their repositories).</p>
<p>Use this command to download the repository</p>
<pre><code>git clone http://git.robertalessi.net/ekdosis</code></pre>
<p>A new directory named ekdosis will have been created, containing
<code>ekdosis</code>.</p>
<h2 id="git-hosting">Git Hosting</h2>
<p>Make an account on <a href="https://sr.ht"
class="uri">https://sr.ht</a> and navigate (while logged in) to <a
href="https://git.sr.ht/~ralessi/ekdosis"
class="uri">https://git.sr.ht/~ralessi/ekdosis</a>. Click <em>Clone repo
to your account</em> and you will have in your account your own
repository of <code>ekdosis</code> where you will be able to make
whatever changes you like to.</p>
